*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e9c318;
}
.main-div{
    height: 717px;
}
.heading{
    margin: 0 auto;
    width: 65%;
    font-size: 2rem;
    color: #ff0808;
    padding: 31px 0 0 80px;
    text-shadow: 3px 0px 2px #434c37;
}
.div1, .div2{
    /* display: flex; */
    justify-content: center;
    align-content: center;
   position: relative;
   top: 50px;
   left: 14%;
   width: 70%; 
   height: 455px ;
   float: left;
}
.heading2{
    color: rgb(153, 15, 15);
    font-size: 40px;
}
.question{
    width: 70%;
    height: 10px;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px ridge rgb(119, 119, 13);
    background-color: #e9c318;
    font-size: 20px;
    padding: 10px;
    
}
.but1
{
    clear: right;
    position: absolute;
    bottom: 53px;
    left: 200px;
}
.but2
{
    clear: right;
    position: absolute;
    bottom: 53px;
    left: 326px;
}
.but3
{
    clear: right;
    position: absolute;
    bottom: 53px;
    left: 434px;
}