h1 , ul ,li {
    display: inline-block;
    padding: 0px;
    margin-top: 6px;
}
ul, li{
    float: right;
}
li{
    margin-right: 49px;
}
body{
    margin: 0;
}
.header{
    background-color: blanchedalmond;
    height: 50px;
}