h1{
    color: rgb(45, 65, 65);
}
.a-1{
        background-color: rgb(0,0,0);
        opacity: 0.5;}
         
       
}


.a-2{
    color: rgb(186, 238, 15);
    background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.5);}
    
}


.a-3{
    color: #00aeef;
}