body{
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 700px;
} 

.mainheading{
    width: 52%;
    height: 97px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px 0 0px 166px;
    font-size: 62px;
    font-family: cursive;
    text-shadow: 3px 1px 2px white;
}
.maindiv{
    margin: 89px 0px 0px 43px;
    height: 524px;
}
.scoreofit{
    margin: 38px auto;
    width: 474px;
    float: right;
    height: 502px;
}
.hreset{
    border: none;
    border-radius: 14px;
    background-color: #bf9939;
    font-size: 28px;
    font-family: cursive;
}
.hreset:hover{
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}

.hreset:active{
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.rscore{
    text-shadow: 3px 0px 4px black;
    font-size: 32px;
    color: #fff700;
}
/* .jscore{
    text-shadow: 3px 0px 4px black;
    font-size: 32px;
    color: #e27d09;
} */
.kscore{
    text-shadow: 3px 0px 4px black;
    font-size: 32px;
    color: #5be8b4;
}
.scoreheading{
    font-style: italic;
    font-weight: bold;
    padding-left: 10px;
    text-shadow: 4px 0px 5px black;
}
#img1 , #img2 , #img3 , #img4 {
    width: 250px;
    height: 329px;
    padding: 2px;
}
.scoreofit>h1 , .scoreofit>h3>h1 {
    display: inline;
}

#img1:hover , #img2:hover , #img3:hover , #img4:hover { 
cursor: pointer;
box-shadow: 1px 1px 10px black;
}

#img1:active, #img2:active , #img3:active , #img4:active { 
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    }



    
@media (min-width: 360px) and (max-width: 414px)  {
    .mainheading{
        width: 100%;
    height: 35px;
    margin-top: 49px;
    padding: 0px 0 0px 4px;
    font-size: 35px;
    font-family: cursive;
    text-shadow: 3px 1px 2px white;
    }
    
.maindiv{
    margin: 69px 0px 0px 12px;
    height: 523px;
}
#img1, #img2, #img3, #img4 {
    width: 91px;
    height: 114px;
   
}


.rscore {
    font-size: 22px;
    color: #fff700;
}

.scoreofit {
    margin: 29px 24px;
    width: 334px;
    height: 500px;
}

.scoreheading {
    font-style: normal;
   font-size: 22px;
   
}

.kscore {
    font-size: 22px;
    color: #5be8b4;
}


.hreset {
    font-size: 21px;
}

}


/* ---------------------------------------- */

@media (min-width: 413px) and (max-width: 1280px)  {
   body{
       height: 638px;
   }
    .mainheading{
        width: 100%;
    height: 35px;
    margin-top: 49px;
    padding: 0px 0 0px 13px;
    font-size: 65px;
    font-family: cursive;
    text-shadow: 3px 1px 2px white;
    }
    
.maindiv{
    margin: 116px 0px 0px 17px;
    height: 523px;
}
#img1, #img2, #img3, #img4 {
    width: 167px;
    height: 214px;
}




.scoreofit {
    margin: 20px 0px;
    width: 50%;
    float: left;
    height: 500px;
}

.scoreheading {
    font-style: normal;
   font-size: 30px;
   
}
.rscore {
    font-size: 27px;
    color: #fff700;
}

.kscore {
    font-size: 27px;
    color: #5be8b4;
}


.hreset {
    font-size: 27px;
}

}