/* * for all html document
*{
    background-color: yellow;
}
h1 {
    color: green;
    background-color: yellow;
    text-align: center;
}
 # for name
#special {
color: violet;
background-color: blue;
}

. for id 
p.odd {
    color: violet;
    background-color: blue;
    }
 p.even {
        color: rgb(73, 2, 44);
        background-color: rgb(250, 9, 9);
        } */

        /* *
         space " "
         .
         #
         ,  
        */
//-----------------------------------------------------------------------
     *{
         background-color: blanchedalmond;
      }
      


      
      h1.p1{
          font-style: italic;
          color: darkturquoise;
      }
    .b-2 p{
    color: blue;}

    .egg li{
        color:darkturquoise ;
    }

//------------------------------------------------------------------------------
    
    /* * {
        font-family: Arial, Verdana, sans-serif;}
        h1 {
        font-family: "Courier New", monospace;}


        i {
            color: green;}
            i {
            color: red;} 
            b {
                color: pink;}

                p b {
                    color: blue !important;}
                    p b {
                    color: violet;}

                    p#intro {
                        font-size:200%;}
                        p {
                        font-size: 100%;} */
                    



