*{
    margin: 0;
}
.maindiv{
    margin: 0 auto;
    width: 36%;
}

.inputforedit{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px ridge #000000;
}
.inputforedit:focus{
    border-bottom: 1px ridge #5680c3;
}
.addinlist{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px ridge #000000;
}
.addinlist:focus{
    border-bottom: 1px ridge #5680c3;
}
.btn{
    margin-bottom: 5px;
    background-color: none;
}