*{
    margin: 0;
    padding: 0;

}
.container{
    background-color: #f0f2f5;
    height: 779px;
    width: 100%;
}
@font-face{
    font-family: SFProDisplay;
    src: url(fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}
.facandtext{
    height: 185px;
    width: 32%;
    
    position: relative;
    top: 163px;
    float: left;
    left: 269px;
}
.facandtext>img{
    padding-left: 6px;
}
.fandtp{
    font-size: 29px;
    position: relative;
    bottom: 16px;
    padding-left: 32px;
}
.fandtp>p{
    display: inline;
    font-family: SFProDisplay,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formcontrol{
    float: right;
    height: 425px;
    max-width: 441px;
    margin: 0 auto;
    width: 416px;
    position: relative;
    top: 129px;
    right: 296px;

}
.part2offor{
    height: 355px;
    box-shadow: 0px 3px 9px 2px #ccc;
    background-color: #ffffff;
    border-radius: 10px;
}


.parhh56{
    width: 344px;
    font-size: 18px;
    position: relative;
    top: 12px;
    left: 10px;
    padding: 16px 20px;
    border-radius: 6px;
    border-color: #e9ebee;
    border-style: solid;
    margin: 5px;
    outline-width:0;
    
}
.g4ydd62{
    width: 344px;
    font-size: 18px;
    position: relative;
    top: 12px;
    left: 10px;
    padding: 16px 20px;
    border-radius: 6px;
    border-color: #e9ebee;
    border-style: solid;
    margin: 5px;
    outline-width:0;

}
.hgas564
{
    width: 344px;
    font-size: 18px;
    position: relative;
    top: 12px;
    left: 10px;
    padding: 16px 20px;
    border-radius: 6px;
    border-color: #e9ebee;
    border-style: solid;
    margin: 5px;
    outline-width:0;
    
}
.parhh56:focus ,.g4ydd62:focus , .hgas564:focus{
    outline-width:0;
    border: 1px solid #1877f2;
}

.loginbutt{
    color: white;
    font-size: 21px;
    font-weight: bold;
}
#login{
    background-color: #1877f2;
    padding: 12px 0px;
    height: 51px;
    position: relative;
    left: 16px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 8px;
    width: 383px;
    top: 17px;
}
#login:hover{
    background-color: #1873e9;
}

button{
    background-color: #1877f2;
}