.chatdiv{
    background-color: #ceb6cc;
    height: 598px;
    width: 705px;
    margin-left: 266px;
    border-radius: 24px;
}
.headingdiv{
    color: #eae3e3;
    height: 34px;
    border-bottom: 1px solid white;
    background-color: #545353;
    width: 705px;
    margin-left: 266px;
    position: absolute;
    border-radius: 24px;
}
.heading{
    font-size: 27px;
    display: flex;
    justify-content: center;
    /* padding: 46px 0px 0px 0px; */
}
.inputtext{
    height: 40px;
    width: 705px;
    position: relative;
    left: 295px;
    bottom: 33px;
}

.text{
    height: 510px;
    width: 639px;
    position: relative;
    top: 34px;
    overflow-y: auto;
    overflow-x: hidden;
    left: 38px;
    word-wrap: break-word;
}
#text{
    outline: none;
    height: 34px;
    position: relative;
    bottom: 15px;
    width: 579px;
    border-radius: 22px;
    padding: 0 15px 0 15px;
    border-color: #0a0606;
}
button{
    position: relative;
    bottom: 16px;
}
.datestyle{
    font-size: 11px;
    color: gray;
    position: relative;
    left: 6px;
}

.dotstyle{
    position: relative;
    bottom: 3px;
    left: 1px;
    color: #584a4a;
    font-size: 18px;
    float: none;
}
.spanoftext{
    background-color: #5050d7;
    color: white;
    border-radius: 10px;
    padding: 0px 11px 3px 11px;
}
.button{
        position: relative;
    bottom: 19px;
    left: 5px;
}