*{
    background-image: url(images/bg.jpg);
     margin: 0;
     padding: 0;
}
@font-face{
    font-family: QuicksandBook;
    src: url(fonts/Quicksand_Book.otf);
}
@font-face{
    font-family: comforta;
    src: url(fonts/Quicksand_Book.otf);
}
.wraper{
    width: 960px;
    margin: 0px auto;
    background-image: url(images/bg-header.jpg);
    background-position: 0px 0px;
    text-align: left;
    height: 100px;

}
.header{
    background-image: url(images/bg-header.jpg);    
    padding: 0px 0px 0px 0px;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;

}
.imggab{
    padding: 0px 1px 17px 22px;
    background-image: url(images/bg-header.jpg);
}
.imgu6y{
    background-image: url(images/bg-header.jpg);
    padding: 0px 0 0 9px;  
   opacity: 0.5;
}
ul{
    float: right;
}
ul,li{
    display: inline;
    background-image: url(images/bg-header.jpg);
    text-decoration: none;
    color: white;
    padding: 47px 2px 2px 2px;
    font-size: 20px;
    /* display: flex;
    background-image: url(images/bg-header.jpg);
    padding: 47px 2px 2px 2px; */

}
.header a{
    background-image: url(images/bg-header.jpg);
    color: #b5c1ad;
    text-decoration: none;
}
.header a:hover{
    color: white ;
}
.bottom{
    width: 960px;
    margin: 0px auto;
    background-image: url(images/bg-triangle.png);
  
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-align: left;
    height: 570px;
}
.img2{
    background-image: url(images/triangles.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: 124px 143px;padding: 97px 0 0 0;

}

.para34{
    float: right;
    color: #b5c1ad;
    padding: 48px 133px 1px 1px;
}
.para34>h1>a , .grid1>a , .grid2>p>a{
    color: #b5c1ad;
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
/* a{
    color: #b5c1ad;
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    text-decoration: none;
} */
.bottom a:hover{
    color: white ;
}
.paraofb{
    width: 222px;
    color: white;
    margin: 18px 2px 0px 262px;
    float: right;
}
.paraofb p{
padding: 8px 0px 0px 0px;
}
.date
{
    color: #b5c1ad;
    font-size: 75%;
}
.bottom2nd{
    width: 960px;
    margin: 0px auto;
    height: 385px;
    border-top: 1px solid white;
}
.grid1{
    padding: 21px 0px 0px 13px;
    font-size: 20px;
}
.grid1 a:hover{
    color: white;
 
}
.grid2{
    width: 220px;
    height: 294px;
    padding: 19px 15px 28px 5px;
    float: left;
}

.grid2 p{
    font-size: 80%;
    border-bottom: 1px solid white;
    padding: 12px 0px;
    
}
.bottom2nd .grid2 a:hover{
color: white;
}
.footer{
    background-image: url(images/bg-header.jpg);
    height: 35px;
}
.container_12{
    margin: 0 auto;
    background-image: url(images/bg-header.jpg);
    max-width: 62%;
    height: 19px;
    padding: 13px 0px 0px;
}
.footerpara{
    background-image: url(images/bg-header.jpg);
    font-size: 70%;
    width: 38%;
    float: right;  
}
.footerpara>a{
    background-image: url(images/bg-header.jpg);
    color: #b5c1ad;
    text-decoration: none;
}